<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\1doc\03_work\active\Project\A2HealthCare\esgenewk" />
        <add key="DJANGO_SETTINGS_MODULE" value="esgenewk.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\1doc\03_work\active\project\a2healthcare\esgenewk\venv_iis\scripts\python.exe|c:\1doc\03_work\active\project\a2healthcare\esgenewk\venv_iis\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
